.drivers-dashboard {
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .drivers-dashboard h1 {
    text-align: center;
    display: flex;
    justify-content: center;

  }
  .drivers-content {
    display: flex;
    justify-content: space-around;
  }
  /* Additional styling for sections */
  .section {
    margin-bottom: 2rem;
  }
  .orders-space {
    background-color: aqua;
    min-height: 200px;
    width: 550px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
  
  }
  .order {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    width: 520px;
 

  }
  .earnings {
    margin: auto;
    padding: auto;
    text-align: center;
    background-color: white;
    padding: 30px;
    font-size: 50px;
    border-radius: 20px;
  }